<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>The Information</title>	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	
	<!-- Adds bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Adds Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Cabin|Droid+Sans|Yrsa" rel="stylesheet">

	<!-- Adds icon in Browser Bar -->
	<link rel="icon" href="../app/assets/images/the_information_logo.png">

	<!-- Adds bootstrap JS and jQuery CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

</head>
<body>
	<%= render 'header' %>
	<div class="container">
	    <% if flash[:notice] || flash[:errors] %>
	      <div class="notice text-center"><%= flash[:notice] %></div>
	      <div class="errors text-center"><%= flash[:errors] %></div>
	    <% end %>

	    <%= yield %>

   	</div>
	<%= render 'footer' %>

</body>
</html>
